<section id="splash">
  <div class="container text-center">
    <h1>
      Chicago founders, meet your unfair advantage.
    </h1>
    <%= link_to 'Sign in with AngelList', '/auth/angellist', class:'btn btn-primary btn-lg btn-block' %>
  </div>
</section>
