<section id="splash">
  <div class="container text-center">
    <h1>
      Saving founders from alcoholism, one drink at a time.
    </h1>
    <img src="http://placehold.it/250x250" class="img-circle">
    <div>
      <a href="#" class="btn btn-danger btn-lg">
        Sign me up!
      </a>
    </div>
  </div>
</section>

<section id="explanation">
  <div class="container">
    <h1 class="text-center">
      Wait, what?
    </h1>
    <div class="row text-center">
      <div class="col-md-4">
        <img src="http://placehold.it/200x200" class="img-circle">
        <h3>
          You're not alone
        </h3>
        <p class="text-left">
          Find local founders and get connected with people who
          understand your problem.
        </p>
      </div>
      <div class="col-md-4">
        <img src="http://placehold.it/200x200" class="img-circle">
        <h3>
          Complain or help
        </h3>
        <p class="text-left">
          Local founders understand you - it's a group you can bitch to!
        </p>
      </div>
      <div class="col-md-4">
        <img src="http://placehold.it/200x200" class="img-circle">
        <h3>
          Community unite!
        </h3>
        <p class="text-left">
          Let's make Chicago the perfect place to start a company.
        </p>
      </div>
    </div>
  </div>
</section>